/*import google fonts here*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    .roboto-regular {
    font-family: "roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
font-family: "roboto", sans-serif;
font-weight: 700;
font-style: normal;
}
.roboto-black {
    font-family: "roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
color: #151515;
}

.movie-card {
    margin-top: 5rem;
    height: 800px;
    text-align: center;
}

.movie-title {
    text-transform: uppercase;
}

.movie-poster-container img {
    margin-top: 2rem;
    height: auto;
    width: 350px;
    border-radius: 20px;
}

.movie-rating {
    display: inline-block;
    border: 1px solid #151515;
    padding: 0.3rem;
    border-radius: 5px;
}

.movie-duration {
    margin-left: 1rem;
    letter-spacing: 0.2rem;
}

.movie-duration:before {
    content: "\2022";
}

.movie-info-quote {
    color: #151515a4;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.movie-info-overview-title {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.movie-info-actions {
    font-size:1.1rem;
}

.movie-info-actions ul {
    list-style: none;
}

.movie-info-actions ul li {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(3, 37, 65);
    
}

.movie-info-actions ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: 2rem;
    text-align: center;
    color: #777;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

footer ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #777;
}

.modal{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(61, 61, 151, 0.37);
    z-index: 2;
    top: 0;
    left: 0;
    text-align: center;

}
.modal-content{
    background-color: blanchedalmond;
    margin: 5% auto;
    padding: 5rem;
    width: 900px;
    height: 1000px;
    animation: zoom-in 1s; 
}      

@keyframes zoom-in {
    0% {transform: scale(0);}
    100% {transform: scale(1)}
}

.closeBtn {
    float: right;
    cursor: pointer;
    font-size: 3rem;
}

.movie-poster-modal{
    width: 550px;
}


.movie-poster{
    width: 300px;
    cursor: pointer;
}